// app global css in SCSS form

// Example: Import Open Sans with multiple weights
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
//
//// Set the default font-family
//$typography-font-family : 'Open Sans', sans-serif !default;



.body--light {

}


.q-layout {

}

.q-header {
  //background: transparent;
}

.q-drawer {
  //background: transparent
}

.buy {
  background-color: $buy-color !important;
}

.sell {
  background-color: $sell-color !important;
}

.market {
  background-color: $separator-dark-color  !important;
}


