// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #0F3460;

$secondary : #533483;
$accent    : #E94560;


$dark      : #16213E;
$dark-page : rgb(19, 19, 19);

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;


$buy-color  : rgb(19, 131, 12);
$sell-color : #70070f;

$separator-dark-color    : rgba(255, 255, 255, .28) !default;

$typography-font-family: "worksans";



